/* fuentes de google */
@import url('https://fonts.googleapis.com/css?family=Expletus+Sans|Roboto');

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-size: 100%;
    background-color: #e6e6e6;
}

/* grid container */
main {
    display: grid;
    height: 100vh;
    grid-template-columns:
        [margen-izquierdo-start] 2.5vh
        [login-start] 1fr
        [margen-central-start] 2.5vh
        [aside-start] 3fr
        [margen-derecho-start] 2.5vh;
    grid-template-rows: 
        [header-start] 8%
        [nav-start] 10%
        [margen-superior-start] 2.5vh
        [contenido-start] 2fr
        [margen-intermedio-start] 2.5vh
        [aside-start] 1fr
        [margen-inferior-start] 2.5vh
        [footer-start] 8%;
}

header {
    /* propiedades de flexbox */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    /* no modificar esto */
    background-color: #004f04;
    /* indica cuántas columnas ocupa el elemento */
    grid-column: margen-izquierdo-start / span 5;
    grid-row: header-start / nav-start
}

    header > div.avm {
        /* propiedades de flexbox */
        order: 1;
        flex-basis: 10vh;
        flex-grow: 8;
        flex-shrink: 0;
        margin: 2.5vh;

        color: #f2f2f2;
        font-family: 'Expletus Sans', cursive;
        font-size: 3em;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
    }

    header > div.modesto-silva {
        /* propiedades de flexbox */
        order: 2;
        flex-grow: 2;
        flex-basis: 6vh;
        margin: 2.5vh;

        color: #f2f2f2;
        font-family: 'Expletus Sans', cursive;
        font-size: 1.5em;
        text-align: right;
    }

nav {
    /* propiedades de flexbox */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* no modificar esto */
    background-color: #2e7c31;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* indica cuántas columnas ocupa el elemento */
    grid-column: margen-izquierdo-start / span 5;
    grid-row: nav-start / margen-superior-start
}

    nav > a.navbar {
        height: 100%;
        width: 25%;
        padding: 3vh;
        color: #f2f2f2;
        font-family: 'Roboto', sans-serif;
        font-weight: medium;
        font-size: 2em;
        text-align: center;
        text-decoration: none;
        transition: font linear 0.1s 0s;
        transition: background-color linear 0.1s 0s;
    }

    nav > a.navbar:hover {
        background-color: #004f04;
        font-size: 2.25em;
    }

    nav > a.navbar:active {
        background-color: #fdd835;
        color: #000000;
        font-size: 2.25em;
    }

article {
    border-radius: 0.250vh;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* indica cuántas columnas ocupa el elemento */
    grid-column: login-start / margen-derecho-start;
    grid-row: contenido-start / margen-intermedio-start
}

div.login {
    border-radius: 0.250vh;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* indica cuántas columnas ocupa el elemento */
    grid-column: login-start / margen-central-start;
    grid-row: aside-start / margen-inferior-start
}

aside {
    border-radius: 1%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* indica cuántas columnas ocupa el elemento */
    grid-column: aside-start / margen-derecho-start;
    grid-row: aside-start / margen-inferior-start
}


footer {
    border-radius: 1%;
    background-color: #c6a700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* indica cuántas columnas ocupa el elemento */
    grid-column: margen-izquierdo-start / span 5;
    grid-row: footer-start
}